<div class="container flex">
<div class="featured-article">
  <%= image_tag "featured-image.jpg", class: "featured-mage" %>
  <div class="featured-text">
  <h1>
    <a class="featured-text_title">Featured Article</a>
  </h1>
  <div class='featured-text_caption'>This is the caption of the featured article . . .</div>
  </div>
</div>
<div class="categories grid"></div>
</div>
