// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.container {
	flex-direction: column;
	.featured-article {
		position: relative;
		.featured-image {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: 50% 50%;
			opacity: 0.9;
		}

		.featured-text {
			position: absolute;
			bottom: 5rem;
			padding-left: 1rem;
			font-size: 1.6rem;

			.featured-text_title {
				color: #fa6000;
				font-size: 2.6rem;
			}

			.featured-text_caption {
				margin-top: 1rem;
				font-weight: 700;
				color: #fff;
			}
		}
	}
	.categories {
		position: relative;
		top: -0.2rem;
		grid-template-columns: auto auto auto auto;
		.categories-image {
			height: 24rem;
			object-fit: cover;
		}
	}
}
